<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mapandagent.app" android:versionCode="1" android:versionName="1.0">

    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="35"/>

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="MapAndAgent"
        android:name="org.qtproject.qt.android.QtApplication"
        android:usesCleartextTraffic="true">

        <activity
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleTop"
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
